*~
.vscode
.venv
build/
__pycache__
.ipynb_checkpoints
.mypy_cache
.pytest_cache
dist
src/*.egg-info
src/aerial/pycuphy/*.so*
notebooks/*.onnx
notebooks/data/*
!notebooks/data/*.parquet
notebooks/generated
models/*.trt
